<div class="container">
  <div class="newTodo">
    <input type="text" 
      ng-model="home.title"
      ng-change="home.inputChange(home.title)"
      placeholder="Todo Title">
    <button type="button" 
      class="add"
      ng-click="home.addTodo()" >
    Add
    </button>
  </div>
  <div class="tasks" ng-repeat="task in home.tasks">
    <div class="task"
      ng-click="home.changeIsInput()"
      ng-hide="home.isInput"
    >
      <h2>{{task.title}}</h2>
    </div>
    <div ng-show="home.isInput" ng-click="home.changeToInput">
      <input type="text"
        ng-blur="home.updateTask()"
        class="title"
        value="{{task.title}}" 
      />
    </div>
    <button class="button" ng-click="home.deleteTask(task.id)">Delete</button>
  </div>
</div>